* {
    padding: 0;
    margin: 0;
  }
body {
  font-size: 100%;
}
form {
  margin-bottom: 7em;
}
form span {
  color: red;
}
.container {
  margin: 0 1.375em 0 1.125em;     /* 22 */ /* 18 */
}
.nikita-jiandani-copy-3 {
  color: #000000;
  font-family: "Patua One";
  font-size: 2em;               /* 32/16 */
  line-height: 1.125em;         /* 36 */
  margin-top: 0.75em;          /* 24 */
}
.contact {
  color: #248700;
  font-family: "Patua One";
  font-size: 1.25em;             /* 20/16 */
  margin: 1.2em 0 0.8em 0;       /* 24 */ /* 16 */
}
.navbar {
	height: 2.43875em;               /* 39/16 */
	width: 100%;
  background-color: #248700;
  bottom: 0;
  position: fixed;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
.navbar a {
  display: inline-block;
  text-decoration: none;
  padding: 0.35em 0 0.4em;     /* 7/20 */ /* 8/20 */           
}
.tab {
	color: #FFFFFF;
	font-family: "Patua One";
	font-size: 1.25em;             /* 20/16 */
	letter-spacing: 0.0125em;      /* 0.25 */
  line-height: 1.2em;            /* 24 */
}
#send {
  background-color: #248700;
  color: #FFFFFF;
  font-size: 1.125em;            /* 18/16 */
  letter-spacing: 0.0555em;      /* 1 */
  font-family: "Patua One";
  border: none;
}
#pipe {
	height: 1.85em;
	width: 0.165em;               
	background-color: #FFFFFF;
	margin-top: 0.05em;            /* 1 */
}
input {
  width: 100%;
  height: 2.4375em;              /* 39/16 */
  margin: 0.25em 0;              /* 4 */
  border: 1px solid #000000;
  border-radius: 0.3125em;       /* 5 */
  padding: 0.1875em;             /* 3 */
  font-family: "Patua One";
  font-size: 1em;                /* 16/16 */
}
textarea {
  width: 100%;
  height: 6.25em;                /* 100/16 */
  margin-top: 0.25em;            /* 4 */
  border: 1px solid #000000;
  border-radius: 0.3125em;       /* 5 */
  padding: 0.1875em;             /* 3 */
  font-family: "Patua One";
  font-size: 1em;                /* 16/16 */
}
/* LARGE MOBILE & LANDSCAPE*/
@media(min-width: 425px){
	form {
		width: 80%;
		font-size: 1.125em;          /* 18/16 */
		letter-spacing: 0.025em;     /* 0.45 */
    line-height: 1.222em;        /* 22 */
    margin-bottom: 11.1111em;      /* 200 */
  }
  textarea {
    height: 9.375em;             /* 150/16 */
  }
  #send {
    width: 40%;
  }
}
/* TABLET */
@media(min-width: 768px){
  .nikita-jiandani-copy-3 {
		font-size: 3.75em;           /* 60/16 */
		line-height: 1em;            /* 60 */
	}
	.contact {
		font-size: 2.25em;           /* 36/16 */
		letter-spacing: 0.0125em;    /* 0.45 */
		line-height: 1.222em;        /* 44 */
		margin-top: 1.111em;         /* 40 */
	}
  .navbar {
		height: 5.625em;                /* 90/16 */
		justify-content: flex-start;
		align-items: center;
	}
	.tab {
		font-size: 2.25em;           /* 36/16 */
		letter-spacing: 0.0125em;    /* 0.45 */      
		line-height: 1.222em;        /* 44 */
		margin-left: 0.888888em;     /* 32 */
	}
	#pipe {
		height: 1.75em;
		width: 0.15em;
	}
}
/* LAPTOP */
@media (min-width: 1024px){
  form {
    width: 50%;
  }
}