* {
    padding: 0;
    margin: 0;
  }
body {
  font-size: 100%;
}
.container {
  margin: 0 22px 0 18px;
}
.nikita-jiandani-copy-3 {
  color: #000000;
  font-family: "Patua One";
  font-size: 2em;               /* 32/16 */
  letter-spacing: 0.2px;
  line-height: 1.125em;         /* 36 */
  margin-top: 24px;
}
.contact {
  color: #248700;
  font-family: "Patua One";
  font-size: 1.25em;             /* 20/16 */
  letter-spacing: 0.25px;
  margin: 24px 0 16px 0;
}
.navbar {
	height: 39px;
	width: 100%;
  background-color: #248700;
  bottom: 0;
  position: fixed;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
.navbar a {
  display: inline-block;
  text-decoration: none;
  padding-top: 7px;
  padding-bottom: 8px;
}
.tab {
	color: #FFFFFF;
	font-family: "Patua One";
	font-size: 1.25em;             /* 20/16 */
	letter-spacing: 0.25px;
  line-height: 1.2em;            /* 24 */
}
#send {
  background-color: #248700;
  color: #FFFFFF;
  font-size: 1.125em;            /* 18/16 */
  letter-spacing: 1px;
  font-family: "Patua One";
  border: none;
}
#pipe {
	height: 32px;
	width: 3px;
	background-color: #FFFFFF;
	margin-top: 3px;
}
input {
  width: 100%;
  height: 39px;
  margin: 4px 0;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 3px;
  font-family: "Patua One";
  font-size: 1em;                /* 16/16 */
}
textarea {
  width: 100%;
  height: 100px;
  margin-top: 4px;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 3px;
  font-family: "Patua One";
  font-size: 1em;                /* 16/16 */
}
/* LARGE MOBILE & LANDSCAPE*/
@media(min-width: 425px){
	form {
		width: 80%;
		font-size: 1.125em;          /* 18/16 */
		letter-spacing: 0.45px;
    line-height: 1.222em;        /* 22 */
    margin-bottom: 200px;
  }
  textarea {
    height: 150px;
  }
  #send {
    width: 200px;
  }
}
/* TABLET */
@media(min-width: 768px){
  .nikita-jiandani-copy-3 {
		font-size: 3.75em;           /* 60/16 */
		letter-spacing: 0.38px;
		line-height: 1em;            /* 60 */
	}
	.contact {
		font-size: 2.25em;           /* 36/16 */
		letter-spacing: 0.45px;
		line-height: 1.222em;        /* 44 */
		margin-top: 40px;
	}
  .navbar {
		height: 90px;
		justify-content: flex-start;
		align-items: center;
	}
	.tab {
		font-size: 2.25em;           /* 36/16 */
		letter-spacing: 0.45px;      
		line-height: 1.222em;        /* 44 */
		margin-left: 32px;
	}
	#pipe {
		height: 63px;
		width: 5px;
	}
}
/* LAPTOP */
@media (min-width: 1024px){
  form {
    width: 50%;
  }
}